<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" -->

<head>
    <meta charset="UTF-8">
    <title>Online reservation for playing fields</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Online reservation for playing fields</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/view/roles}">Roles</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/view/users}">Users</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/view/reservations}">Reservations</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/view/sportsVenues}">Sports Venues</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/view/sportsFields}">Sports Fields</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/view/fieldTypes}">Field Types</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container my-2">
    <h1>Field Type Management Panel</h1>
    <hr>
    <h2>List of Field Types</h2>

    <a th:href = "@{/view/showNewFieldTypeForm}" class="btn btn-primary btn-sm mb-3"> Add Field Type </a>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Field Type id</th>
            <th>Field Type name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fieldType : ${listFieldTypes}">
            <td th:text="${fieldType.id}"></td>
            <td th:text="${fieldType.type}"></td>
            <td> <a th:href="@{/view/showUpdateFieldTypeForm/{id}(id=${fieldType.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/view/deleteFieldType/{id}(id=${fieldType.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>