<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" -->

<head>
    <meta charset="UTF-8">
    <title>Online reservation for playing fields</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Online reservation for playing fields</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/view/roles}">Roles</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/view/users}">Users</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/view/reservations}">Reservations</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/view/sportsVenues}">Sports Venues</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/view/sportsFields}">Sports Fields</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/view/fieldTypes}">Field Types</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container my-2">
    <h1>Reservation Management Panel</h1>
    <hr>
    <h2>List of Reservations</h2>

    <!-- <a th:href="@{/view/showNewReservationForm}" class="btn btn-primary btn-sm mb-3"> Add Reservation </a> -->

    <div class="row col-sm-12">
        <div class="col-sm-4">
            <a th:href="@{/view/showNewReservationForm}" class="btn btn-primary btn-sm mb-3"> Add Reservation </a>
        </div>
        <div class="col-sm-2">
            <form action="#" th:action="@{/view/sortReservationsByEndDate}"  method="post">
                <button type="submit" class="btn btn-info col-2"> Sort data by End date</button>
            </form>
        </div>
        <div class="col-sm-2">
            <form action="#" th:action="@{/view/sortReservationsByStreet}"  method="post">
                <button type="submit" class="btn btn-info col-2"> Sort data by Street</button>
            </form>
        </div>
        <div class="col-sm-2">
            <form action="#" th:action="@{/view/sortReservationsByCity}"  method="post">
                <button type="submit" class="btn btn-info col-2"> Sort data by City</button>
            </form>
        </div>
        <div class="col-sm-2">
            <form action="#" th:action="@{/view/sortReservationsByType}"  method="post">
                <button type="submit" class="btn btn-info col-2"> Sort data by Field Type</button>
            </form>
        </div>
    </div>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Reservation id</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Sports Venue [Field]</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${listReservations}">
            <td th:text="${reservation.id}"></td>
            <td th:text="${reservation.startDate}"></td>
            <td th:text="${reservation.endDate}"></td>
            <td th:text="${reservation.sportsField}"></td>
            <td th:text="${reservation.user.username}"></td>
            <td>
                <a th:if="${#authentication.name == reservation.user.username}"
                   th:href="@{/view/showUpdateReservationForm/{id}(id=${reservation.id})}" class="btn btn-primary">Update</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/view/showUpdateReservationForm/{id}(id=${reservation.id})}" class="btn btn-primary">Update</a>
                <a th:if="${#authentication.name == reservation.user.username}"
                   th:href="@{/view/deleteReservation/{id}(id=${reservation.id})}" class="btn btn-danger">Delete</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/view/deleteReservation/{id}(id=${reservation.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-4">
                Total Reservations: [[${totalItems}]]
            </div>
            <div class="col-sm-2">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/view/reservations/' + ${i}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
            </div>
            <div class="col-sm-2">
                <a th:if="${currentPage < totalPages}" th:href="@{'/view/reservations/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-2">
                <a th:if="${currentPage < totalPages}" th:href="@{'/view/reservations/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
    <br></br>
    <form action="#" th:action="@{/view/findReservationsByEndDate}" method="post">
        <input type="text" th:value="${query}" name="query" placeholder="YYYY-MM-DD HH:mm" />
        <button type="submit" class="btn btn-info col-2"> Filter reservations by end date</button>
    </form>

    <form action="#" th:action="@{/view/findReservationsByCity}" method="post">
        <input type="text" th:value="${query}" name="query" placeholder="City name" />
        <button type="submit" class="btn btn-info col-2"> Filter reservations by City</button>
    </form>

    <form action="#" th:action="@{/view/findReservationsByStreet}" method="post">
        <input type="text" th:value="${query}" name="query" placeholder="Street name" />
        <button type="submit" class="btn btn-info col-2"> Filter reservations by Street</button>
    </form>

    <form action="#" th:action="@{/view/findReservationsByType}" method="post">
        <input type="text" th:value="${query}" name="query" placeholder="Field Type" />
        <button type="submit" class="btn btn-info col-2"> Filter reservations by Field Type</button>
    </form>


    <!--    <div th:text="${#authentication.name}" ></div>-->
</div>

</body>
</html>