<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" -->

<head>
    <meta charset="UTF-8">
    <title>Online reservation for playing fields</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Online reservation for playing fields</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/view/roles}">Roles</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/view/users}">Users</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/view/reservations}">Reservations</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/view/sportsVenues}">Sports Venues</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/view/sportsFields}">Sports Fields</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/view/fieldTypes}">Field Types</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container my-2">
    <h1>Sports Field Management Panel</h1>
    <hr>
    <h2>List of Sports Fields</h2>

    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href = "@{/view/showNewSportsFieldForm}" class="btn btn-primary btn-sm mb-3"> Add Sports Field </a>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Sports Field id</th>
            <th>Sports Field type</th>
            <th>Sports Venue</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sportsField : ${listSportsFields}">
            <td th:text="${sportsField.id}"></td>
            <td th:text="${sportsField.sportsFieldType.type}"></td>
            <td th:text="${sportsField.sportsVenue}"></td>
            <td> <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/view/showUpdateSportsFieldForm/{id}(id=${sportsField.id})}" class="btn btn-primary">Update</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/view/deleteSportsField/{id}(id=${sportsField.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="#" th:action="@{/view/sortFieldsByType}"  method="post">
        <button type="submit" class="btn btn-info col-2"> Sort data by Type</button>
    </form>
    <form action="#" th:action="@{/view/sortFieldsByCity}"  method="post">
        <button type="submit" class="btn btn-info col-2"> Sort data by City</button>
    </form>
    <form action="#" th:action="@{/view/sortFieldsByStreet}"  method="post">
        <button type="submit" class="btn btn-info col-2"> Sort data by Street</button>
    </form>
</div>

</body>
</html>